NET/BUGTRACKER/durand_yBugTrack/correction/ClientBugTrack/Service References/ServiceReferenceBugTrack/ServiceClientBugTrack3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/lemett_aBugTrack.DBO" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/lemett_aBugTrack.DBO" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfBugTransfert">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="BugTransfert" nillable="true" type="tns:BugTransfert" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBugTransfert" nillable="true" type="tns:ArrayOfBugTransfert" />
  <xs:complexType name="BugTransfert">
    <xs:sequence>
      <xs:element minOccurs="0" name="CreateDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ProjectName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Responsable" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Title" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BugTransfert" nillable="true" type="tns:BugTransfert" />
</xs:schema>